<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Project Tracking Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon"></span>
    </button>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li *ngIf="isUserAuthenticated()" class="nav-item">
                <!-- This is Employee Button -->
                <a class="nav-link" routerLink="/employee">Employee</a>
            </li>
            <li *ngIf="isUserAuthenticated()" class="nav-item">
                <!-- This is Employee Button -->
                <a class="nav-link" routerLink="/projecttask">Project Task</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logOut()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div>
        <form class="form-horizontal" [formGroup]="projectForm">
            <h1 style="text-align: center;">Project Form</h1>
            <div >
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 center">
                        <div class="form-group">
                            <!-- <label for="name" class="control-label col-sm-2">Project Name:</label> -->
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtProjectName" formControlName="ProjectName" placeholder="Name of Project">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <!-- <label for="startDate" class="control-label col-sm-2">Start Date:</label> -->
                            <div class="col-sm-10">
                                <input type="datetime-local" class="form-control" id="txtStartDate" formControlName="startDate" placeholder="Start Date of Project">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <!-- <label for="endDate" class="control-label col-sm-2">End Date:</label> -->
                            <div class="col-sm-10">
                                <input type="datetime-local" class="form-control" id="txtEndDate" formControlName="endDate" placeholder="End Date of Project">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <!-- <label for="client" class="control-label col-sm-2">Client:</label> -->
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtClient" formControlName="ClientName" placeholder="Client Name">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <button class="btn btn-primary" (click)="AddProject(projectForm.Value)">Add New Project</button>
                                    </div>
                                    <div class="col-sm">
                                        <button class="btn btn-warning" (click)="UpdateProject(projectForm.Value)">Update Project</button>
                                    </div>
                                    <div class="col-sm">
                                        <button class="btn btn-danger" (click)="Clear(projectForm.Value)">Clear</button>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            </div>
                    </div>
                    <div class="col-4"></div>    
                </div>
                  <div>
                    <div class="alert-success alert" style="text-align: center;"><b>Project List</b></div>
                    <div class="table-responsive" style="text-align: center;">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Project Id</th>
                                    <th scope="col">Project Name</th>
                                    <th scope="col">Start Date</th>
                                    <th scope="col">End Date</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prj of projectList | async; index as i">
                                    <th scope="row">{{ i+1 }}</th>
                                    <td>{{ prj.projectID }}</td>
                                    <td>{{ prj.projectName }}</td>
                                    <td>{{ prj.startDate }}</td>
                                    <td>{{ prj.endDate }}</td>
                                    <td>{{ prj.clientName }}</td>
                                    <td><button class="btn btn-primary" type="button" matToolTip="Click Edit Button" (click)="ProjectDetailsToEdit(prj.projectID)">Edit</button>
                                        |
                                        <button class="btn btn-danger" type="button" matToolTip="Click Delete Button" (click)="DeleteProject(prj.projectID)">Delete</button>                                
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>    
    <div col-md-3>
    </div>
</div>
