<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Project Tracking Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggle-icon"></span>
    </button>
    <div class="navbar-collapse collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li *ngIf="isUserAuthenticated()" class="nav-item">
                <!-- This is Employee Button -->
                <a class="nav-link" routerLink="/employee">Employee</a>
            </li>
            <li *ngIf="isUserAuthenticated()" class="nav-item">
                <!-- This is Employee Button -->
                <a class="nav-link" routerLink="/project">Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logOut()">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div>
        <form class="form-horizontal" [formGroup]="projecttaskForm">
            <h1 style="text-align: center;">Project Task Form</h1>
            <div >
                <div class="row">
                    <div class="col-4"></div>
                    <div class="col-4 center">
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtAssignedTo" formControlName="assignedTo" placeholder="Assigned To">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="datetime-local" class="form-control" id="txtTaskStartDate" formControlName="taskStartDate" placeholder="Task Start Date">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="datetime-local" class="form-control" id="txtTaskEndDate" formControlName="taskEndDate" placeholder="Task End Date">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtTaskCompletion" formControlName="taskCompletion" placeholder="Task Progress">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtEmployeeId" formControlName="employeeID" placeholder="Employee ID">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txtuserStoryId" formControlName="userStoryID" placeholder="User Story ID">
                            </div>
                        </div>
                        <br/>
                        <div class="form-group">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <button class="btn btn-primary" (click)="AddProjectTask(projecttaskForm.Value)">Add New Project Task</button>
                                    </div>
                                    <div class="col-sm">
                                        <button class="btn btn-warning" (click)="UpdateProjectTask(projecttaskForm.Value)">Update Project Task</button>
                                    </div>
                                    <div class="col-sm">
                                        <button class="btn btn-danger" (click)="Clear(projecttaskForm.Value)">Clear</button>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            </div>
                    </div>
                    <div class="col-4"></div>    
                </div>
                  <div>
                    <div class="alert-success alert" style="text-align: center;"><b>Project Task List</b></div>
                    <div class="table-responsive" style="text-align: center;">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Project Task Id</th>
                                    <th scope="col">Assigned To</th>
                                    <th scope="col">Task Start Date</th>
                                    <th scope="col">Task End Date</th>
                                    <th scope="col">Task Progress</th>
                                    <th scope="col">Employee ID</th>
                                    <th scope="col">User Story ID</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let prjtask of projectTaskList | async; index as i">
                                    <th scope="row">{{ i+1 }}</th>
                                    <td>{{ prjtask.projectTaskID }}</td>
                                    <td>{{ prjtask.assignedTo }}</td>
                                    <td>{{ prjtask.taskStartDate }}</td>
                                    <td>{{ prjtask.taskEndDate }}</td>
                                    <td>{{ prjtask.taskCompletion }}</td>
                                    <td>{{ prjtask.employeeID }}</td>
                                    <td>{{ prjtask.userStoryID }}</td>
                                    <td><button class="btn btn-primary" type="button" matToolTip="Click Edit Button" (click)="ProjectTaskDetailsToEdit(prjtask.projectTaskID)">Edit</button>
                                        |
                                        <button class="btn btn-danger" type="button" matToolTip="Click Delete Button" (click)="DeleteProjectTask(prjtask.projectTaskID)">Delete</button>                                
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>    
    <div col-md-3>
    </div>
</div>
